[user]
	name = Elmar Hinz
	email = t3elmar@gmail.com
[push]
	default = simple
[alias]
	st = status
    update = remote update --prune
    branches = branch --all
[core]
	excludesfile = ~/.gitignore_global
[url "ssh://t3elmar@review.typo3.org:29418"]
	pushInsteadOf = git://git.typo3.org
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
